
/* Your CSS Code here. */
table, th, td {
  border: 2px solid black;
}
thead{
	background-color:maroon;
	text-align:left;
}
.first{
	background-color:pink;
}
.second{
	background-color:magenta;
}
.third{
	background-color:lightgrey;
}
td{
	text-align:right;
}
.same{
	text-align:left;
}
